body{
    font-family: "sanfrancisco-regular", sans-serif;
    -webkit-font-smoothing: antialiased;
}
header{
    position: relative;
}
header .navbar{
    background: rgb(6, 21, 51);
    border-radius: 0;
    color: #FFF;
    margin-bottom: 0;
}
header .navbar-brand{
    padding: 1px 20px;
    height: auto;
}
header .nasaland-logo{
    max-width: 100px;
    height: auto;
}
header .navbar-toggle span{
    background: #FFF;
}
header .navbar-nav a{
    text-transform: uppercase;
    color: #FFF;
    transition: all .3s ease;
}
header .navbar-nav > li > a:focus,header .navbar-nav #btn-search.active{
    background: #061533;
    color: #f6680a;
}
header .navbar-nav #btn-search{
    color: #FFF;
    background: none;
}
header .navbar li.active a, header .navbar a:hover{
    background: none;
    color: #f6680a;
}
header .dropdown-menu, li.dropdown:hover,.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
    background: #020c1f;
}
li.dropdown:hover > .dropdown-menu {
    display: block;
}
header #searchform{
    position: absolute;
    top: 100%;
    width: 100%;
    opacity: 0;
    transition: all .3s ease;
}
header #searchform.active{
    display: block;
    opacity: 1;
}
header form input[type=search]{
    width: 100%;
    background: #051127;
    border: 0;
    padding: 10px;
    font-size: 1.5em;
    text-align: center;
}
header form input[type=search]:focus{
    border: none;
    box-shadow: none;
    outline: none;
}
.carousel-control{
    background: none !important;
}
.carousel-control i{
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
}
.box-group{
    display: flex !important;
    flex-direction: row;
    margin: 1px 0;
}
.box-group .box{
    width: 100%;
    background: #FFF;
    padding: 1px;
}
.box-group .box:first-child{
    padding-left: 0;
}
.box-group .box:last-child{
    padding-right: 0;
}
.box-group .box img{
    width: 100%;
    height: auto;
}
footer{
    background: #061533;
    color: #FFF;
}
footer h3{
    font-family: "sanfrancisco-bold";
    text-transform: uppercase;
    font-size: 1.7em;
    margin-top: 20px !important;
}
footer h3 span{
    color: #f6680a;
}
footer ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
footer ul li a{
    color: #e3e3e3;
    margin: 5px 0;
    display: inline-block;
    font-size: .9em;
}
footer ul li a:hover{
    color: #f6680a;
    text-decoration: none;
}
.copyright{
    color: #9d9d9d;
    border-top: 1px solid rgba(136, 136, 136, 0.43);
    padding: 10px 0;
    margin-top: 10px;
}
.page-duan .top-content{
    background: #efefef;
    padding: 20px;
    margin: 20px auto;
}
.page-duan .top-content .main-title{
    font-family: "sanfrancisco-bold";
    text-transform: uppercase;
    color: #f6680a;
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 10px;
}
.search-form-container .row{
    margin-bottom: 10px;
}
.advance-search{
    padding: 20px;
    background: #45597a;
    transition: all .3s ease;
}
.advance-search .row:last-child{
    margin-bottom: 0;
}
.prop-block{    
    margin-bottom: 20px;
}
.prop-block-header{
    border-bottom: 2px solid #333;
    overflow: hidden;
}
.prop-block-header h3{
    font-family: "sanfrancisco-bold", sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    display: inline-block;
    float: left;
    margin: 0;
    color: #f6680a;
}
.prop-block-link{
    float: right;
}
.prop-block .prop-block-content{
    background: #f7f7f7;
}
.prop-post{
    overflow: hidden;
    border-bottom: 1px solid #FFF;
    padding: 10px;
}
.prop-post .thumb{
    position: relative;
}
.prop-post .thumb img{
    width: 100% !important;
    height: auto !important;
}
.prop-post .type{
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 3px;
    display: block;
    padding: 3px 7px;
    background: #d9534f;
    color: #FFF;
    font-size: .9em;
}
.prop-post .type.cho-thue{
    background: #f0ad4e;
}
.prop-post .info{
    position: relative;
}
.prop-post .info .entry-title{
    margin-bottom: 10px;
}
.prop-post .meta{
    display: table-cell;
    vertical-align: bottom;
    font-size: 1em;
}
.prop-post .meta > div{
    float: left;
    width: 50%;
    margin-bottom: 5px;
}
.prop-post .meta .price i{
    color: #bc04bb;
}
.prop-post .meta .area i{
    color: #07ce2d;
}
.prop-post .meta .location i{
    color: #d40b3f;
}
.prop-post .meta .location a{
    color: #111;
}
.prop-post .meta .location a:hover{
    text-decoration: underline;
}
.prop-post .published{
    
}
@media (max-width: 768px){
    .box-group{
        display: block !important;
    }
    .box-group .box{
        display: inline-block;
        width: calc(100%/2 - 2px);
    }
    header .navbar-toggle{
        margin-top: 10px !important;
    }
    header .nasaland-logo{
        width: 50px;
    }
    .slider{
        margin-top: 52px;
    }
}
@media (min-width: 768px){
    header .navbar-nav, header .navbar-form{
        margin-top: 25px !important;
    }
    header .navbar{
        background: rgba(6, 21, 51, 0.75);
    }
    header .navbar-nav{
        display: flex;
    }
}