body{
    font-family: "sanfrancisco-regular", sans-serif;
    -webkit-font-smoothing: antialiased;
    background: #FFF;
}
.top-page{
    background: #f1f1f1;
    border-bottom: 1px solid #DDD;
    padding: 3px 0;
}
.top-page .top-link a{
    margin-left: 10px;
    color: #444;
}
header{
    position: relative;
}
header .logo{
    max-width: 96px;
    display: block;
    float: left;
}
header .logo img{
    width: 100%;
    height: auto;
}
header .top-banner{
    padding: 2px;
    display: inline-block;
}
header .top-banner img{
    max-width: 100% !important;
    height: auto;
}
header .navigation{
    background: rgba(0,0,0,0.8);
}
header .navbar{
    background: none;
    border-radius: 0;
    color: #FFF;
    margin-bottom: 0;
}
.navbar-brand {
  padding: 5px;
}
.navbar-brand>img {
  height: 100%;
  padding: 0px;
  width: auto;
}
header .nasaland-logo{
    max-width: 100px;
    height: auto;
}
header .navbar-toggle span{
    background: #FFF;
}
header .navbar-nav a{
    text-transform: uppercase;
    color: #f3f3f3;
    transition: all .3s ease;
    padding-top: 10px;
    font-family: "sanfrancisco-bold";
}
header .navbar-nav #btn-search{
    color: #FFF;
    background: none;
}
header .navbar li.active > a, header .navbar a:hover{
    background: none;
    color: #f6680a;
}
header .dropdown-menu, li.dropdown:hover,.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
    background: #020c1f;
}
li.dropdown:hover > .dropdown-menu {
    display: block;
}
.dropdown-menu>li>a{
    color: #FFF;
}
header .navbar-nav>li:hover>a{
    color: #f6680a;
}
header #searchform{
    position: absolute;
    top: 100%;
    width: 100%;
    opacity: 0;
    transition: all .3s ease;
    display: none;
}
header #searchform.active{
    display: block;
    opacity: 1;
    z-index: 500;
}
header form input[type=search]{
    width: 100%;
    background: rgba(5, 17, 39, 0.8);
    border: 0;
    padding: 10px;
    font-size: 1.5em;
    text-align: center;
}
header form input[type=search]:focus{
    border: none;
    box-shadow: none;
    outline: none;
}
header .right-link{
    float: right;
}
header .register-link{
    background: #444;
}
header .navbar .hotline:hover{
    text-decoration: none;
    color: #FFF;
    background: #df5d07;
}
.brand-centered {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.brand-centered .navbar-brand {
  display: flex;
  align-items: center;
}
.navbar-toggle {
    z-index: 1;
}
.carousel-control{
    background: none !important;
}
.carousel-control i{
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
}
.box-group{
    display: flex !important;
    flex-direction: row;
    margin: 1px 0;
}
.box-group .box{
    width: 100%;
    background: #FFF;
    padding: 1px;
    position: relative;
}
.box-group .box h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(62, 62, 62, 0.5);
    text-align: center;
    font-size: 1em;
    text-transform: uppercase;
    padding: 10px;
    min-width: 60%;
    color: #ffffff;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
}
.box-group .box:first-child{
    padding-left: 0;
}
.box-group .box:last-child{
    padding-right: 0;
}
.box-group .box img{
    width: 100%;
    height: auto;
}
footer{
    background: rgba(0,0,0,0.8);
    color: #FFF;
}
footer h3{
    font-family: "sanfrancisco-bold";
    text-transform: uppercase;
    font-size: 1.7em;
    margin-top: 20px !important;
}
footer h3 span{
    color: #f6680a;
}
footer ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
footer ul li a{
    color: #e3e3e3;
    margin: 5px 0;
    display: inline-block;
    font-size: .9em;
}
footer ul li a:hover{
    color: #f6680a;
    text-decoration: none;
}
.copyright{
    color: #9d9d9d;
    border-top: 1px solid rgba(136, 136, 136, 0.43);
    padding: 10px 0;
    margin-top: 10px;
}
.page-duan .main-content{
    background: #f1f1f1;
}
.page-duan .top-content{
    padding: 20px 0 30px;
    background: #FFF;
}
.search-form-container .keywords{
    background: #f1f1f1 !important;
}
.page-duan .top-content .search-form-container button[type=submit]{
    background: rgba(0,0,0,0.8);
    color: #fff;
}
.page-duan .top-content .search-form-container button[type=submit]:hover{
    color: #f6680a;
}
.page-duan .top-content .main-title{
    font-family: "sanfrancisco-bold";
    text-transform: uppercase;
    color: #f6680a;
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 10px;
}
.search-form-container .row{
    margin-bottom: 10px;
}
#advance-search{
    text-align: center;
    clear: both;
    float: none;
    display: block;
    margin: 3px auto;
    max-width: 100%;
    width: 200px;
    text-transform: uppercase;
    color: #111;
    text-decoration: none !important;
}
.advance-search{
    padding: 20px;
    background: rgba(0,0,0,0.8);
    transition: all .3s ease;
}
.advance-search .row:last-child{
    margin-bottom: 0;
}
.middle-content{
    margin-top: 20px;
}
.prop-block{    
    margin-bottom: 20px;
    overflow: hidden;
}
.prop-block-header{
    border-bottom: 2px solid #333;
    overflow: hidden;
    position: relative;
}
.prop-block-header h3{
    font-family: "sanfrancisco-bold", sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    display: inline-block;
    float: left;
    margin: 0;
    background: rgba(0,0,0,0.8);
    color: #FFF;
    padding: 5px 10px;
    width: 100%;
}
.prop-block-link{
    position: absolute;
    top: 10px;
    right: 10px;
}
.prop-block-link a{
    color: #FFF;
    margin-left: 10px;
    background: rgb(48, 48, 48);
    padding: 3px 10px;
    border-radius: 3px !important;
    opacity: .55;
    transition: all .3s ease;
}
.prop-block-link a:hover, .prop-block-link a.active{
    opacity: 1;
}
.prop-block .prop-block-content{
    background: #ffffff;
    border: 1px solid #DDD;
}
.prop-post{
    overflow: hidden;
    border-bottom: 1px solid #efefef;
    padding: 10px;
}
.prop-post .thumb{
    position: relative;
}
.prop-post .thumb img{
    width: 100% !important;
    height: auto !important;
}
.prop-post .type{
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 3px;
    display: block;
    padding: 1px 7px;
    background: rgb(144, 144, 144);
    color: #fff;
    font-size: .9em;
}
.prop-post .type.cho-thue{
    background: #747474;
}
.prop-post .info{
    position: relative;
}
.prop-post .info .entry-title{
    margin-bottom: 10px;
    font-size: 13px;
}
.prop-post .info a:hover .entry-title{
    color: #f6680a;
}
.prop-post .meta{
    display: table-cell;
    vertical-align: bottom;
    font-size: 12px;
}
.prop-post .meta > div{
    float: left;
    width: 50%;
    margin-bottom: 0;
}
.prop-post .meta .price i{
    color: #bc04bb;
}
.prop-post .meta .area i{
    color: #07ce2d;
}
.prop-post .meta .location i{
    color: #d40b3f;
}
.prop-post .meta .location a{
    color: #111;
}
.prop-post .meta .location a:hover{
    text-decoration: underline;
}
.prop-block .prop-pagi{
    float: right;
    margin-top: 5px;
}
.prop-block .prop-pagi a{
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #FFF;
    line-height: 26px;
    text-align: center;
    color: #111;
    font-family: "sanfrancisco-bold", sans-serif;
    margin-left: 5px;
    float: left;
    border: 2px solid #fff;
    transition: all .3s ease;
}
.prop-block .prop-pagi a:last-child{
    width: auto;
    padding: 0 10px;
}
.prop-block .prop-pagi a:hover,.prop-block .prop-pagi a.current{
    border-color: #666;
}
.page-duan .top-duan{
    background: rgba(0,0,0,0.8);
    margin-bottom: 20px;
    padding-top: 10px;
}
.page-duan .feature{
    overflow: hidden;
    margin-bottom: 10px;
}
.page-duan .first{
    color: #e9e9e9;
    padding: 10px 0;
}
.duan{
    background: #f1f1f1;
    box-sizing: border-box;
    position: relative;
    display: block;
    cursor: pointer;
    color: #444;
    overflow: hidden;
    transition: all .3s linear;
    border: 1px solid #bababa;
    margin-bottom: 5px;
    font-size: 1em;
}
.page-duan .first .duan:hover{
    background: rgba(0,0,0,0.8);
    color: #FFF;
}
.page-duan .first .image{
    width: 120px;
    float: left;
    margin-right: 10px;
}
.page-duan .first img{
    width: 100% !important;
    height: auto !important;
}
.duan .info{
    box-sizing: border-box;
    font-size: .85em;
    padding: 5px !important;
}
.duan .info p{
    margin-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.duan .title{
    font-family: "sanfrancisco-bold", sans-serif;
    font-size: 1.2em;
    text-transform: uppercase;
    margin-bottom: 5px;
    color: #f6680a;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.page-duan .first .duan .title{
    font-size: 1.2em;
    margin-bottom: 5px;
}
.page-duan .first .duan .info{
    font-size: 12px;
}
.page-duan .first .info{
    font-size: 1em;
}
.page-duan .first .title{
    font-size: 2em;
    margin-bottom: 10px;
}
.page-duan .first .title a{
    color: #f6680a;
}
.page-duan .first .meta{
    font-size: 1em;
    line-height: 1.5em;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.page-duan .first .description{
    font-size: 1.1em;
    text-align: justify;
}
.page-duan .first .viewmore{
    display: block;
    float: right;
    margin: 10px 0;
    width: 150px;
    padding: 10px;
    text-align: center;
    background: #f6680a;
    color: #FFF;
    font-family: "sanfrancisco-regular";
    text-transform: uppercase;
    transition: all .3s ease;
}
.page-duan .first .viewmore:hover{
    background: rgba(0,0,0,0.8);
}
.page-duan .cat-list{
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    align-items: stretch;
    border: 1px solid rgb(6, 21, 51);
    border-bottom: 0;
}
.page-duan .cat-list li{
    display: table-cell;
    width: 100%;
    background: #FFF;
    border-right: 1px solid rgb(6, 21, 51);;
    vertical-align: middle;
}
.page-duan .cat-list li:last-child{
    border-right: 0;
}
.page-duan .cat-list li.active,.page-duan .cat-list li:hover{
    background: #010a1d;
    position: relative;
}
.page-duan .cat-list li a{
    text-align: center;
    width: 100%;
    display: block;
    padding: 15px 10px;
    text-transform: uppercase;
    color: rgba(0,0,0,0.8);
}
.page-duan .cat-list li.active a,.page-duan .cat-list li:hover a{
    color: #FFF;
}
.left-content .header{
    border-bottom: 2px solid #444;

}
.left-content ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.left-content ul .duan{
    font-size: 1.2em;
    background: #FFF;
    pointer: initial;
}
.left-content ul .duan .image{
    width: 170px;
    float: left;
    margin-right: 10px;
}
.left-content ul .duan .image img{
    width: 100% !important;
    height: 100% !important;
}
.left-content ul .duan .title{
    font-size: 1.2em;
}
.left-content ul .duan a{
    color: #111;
}
.right-content .header{
    border-bottom: 2px solid #111;
}
.right-content .header h3{
    display: block;
    background: rgba(0,0,0,0.8);
    padding: 5px 10px;
    text-transform: uppercase;
    font-family: "sanfrancisco-bold";
    color: #FFF;
    font-size: 1.5em;
}
.right-content .content{
    background: #FFF;
    padding: 5px;
    border: 1px solid #DDD;
}
.right-content .content ul{
    margin: 0;
    padding: 0 0 0 20px;
}
.right-content .content ul li{
    margin-bottom: 5px;
}
.right-content .content li a{
    color: #444;
    font-size: .9em;
}
.right-content .content li a:hover{
    color: #f6680a;
}
.right-content{
    margin-bottom: 10px;
}
.right-content.ads .content{
    padding: 0;
    border: 0;
}
.right-content.ads img{
    width: 100% !important;
    height: auto !important;
}
/*-----------MEDIA------------*/

@media (max-width: 768px){
    .box-group{
        display: block !important;
    }
    .box-group .box{
        display: inline-block;
        width: calc(100%/2 - 2px);
    }
    header .navbar-toggle{
        margin-top: 10px !important;
    }
    header .nasaland-logo{
        width: 50px;
    }
    .slider{
        margin-top: 52px;
    }
}
@media (min-width: 768px){
    header .navbar{
        min-height: initial;
    }
    header .navbar-brand {
      height: 100px;
    }

    header .nav >li >a {
      padding-top: 42px;
      padding-bottom: 30px;
    }
    header .navbar-toggle {
      padding: 10px;
      margin: 25px 15px 25px 0;
    }
}